# Cline Rules

## 重要

- これは個人塾の公式Webサイトです。
- ユーザーは新規機能の実装やstyleの変更ではなく、既存の記述の改善を依頼しています。必ずサイトの見た目などは変更せずに内部の記述を改善してください。
- htmlやcssの知識があまりない人が運用することを前提にしています。
  そのため、リストでは、ulタグにclass名を指定して、liタグにはclass名をつけずにcssで`.feature-list > .feature-list__item`というように書いています。
  このように、後から知識がない人ができるだけ記述量が少なくhtmlを編集できるようにして欲しいです。
- htmlの構造はあまり複雑にならないようにしてください。
- 簡単なclass名をつけることで全ページ共有のスタイルが適用されるように設計されています。
- 既存のコメントは残してください。
- JavaScriptのコードはhtmlやcssの修正によって変更が必要にならない限り修正しなくて良いです。
- 改善の必要がない場合、htmlの構造やclass名はできるだけ既存のものを使用してください。