body {
  background-color: #eeeeee;

  font-family: "Noto Sans JP", sans-serif;
  word-break: break-word;
}

.main {
  padding: 0 1rem 0 1rem;
  margin: 5rem auto 0 auto;
}

@media screen and (min-width: 960px) {
  .main {
    max-width: 1280px;
    padding: 0 3rem 0 3rem;
    margin: 6rem auto 0 auto;
  }
}

.intro {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-conteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* margin-left: 2rem; */
}

.title {
  font-size: 4rem;
  color: #223eb2;
}

@media screen and (min-width: 960px) {
  .title {
    font-size: 7rem;
  }
}

.title-text {
  margin-top: 1rem;
  color: #404040;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 960px) {
  .title-text {
    margin-top: 2rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.links-container {
  margin-bottom: 1rem;
}

.links {
  list-style: none;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.links li {
  font-size: 1.2rem;
  padding: 0.7rem 0;
  margin-bottom: 0.6rem;

  background-color: #eeeeee;
  border: #223eb2 2px solid;
  border-radius: 0.4rem;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
}

.links li a {
  color: #404040;
  text-decoration: none;
}
