/* 沿革ページのスタイル */

/* 沿革テーブル */
.history-table {
  width: 100%;
  margin-bottom: 2rem;
}

.history-table tr > td:nth-of-type(1),
.history-table tr > th:nth-of-type(1) {
  max-width: 1rem;
  text-align: center;
  width: 6rem;
}

.history-table th {
  background-color: var(--blue2);
  color: var(--white);
  padding: 0.6rem;
}

.history-table td {
  padding: 0.6rem;
  background-color: var(--white3);
}
