<div class="header__inner">
  <div class="header__logo">
    <a href="/">
      <img src="/images/logo.svg" alt="ぶんせい" />
    </a>
  </div>

  <nav class="header__nav" id="js-nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="/">トップ</a></li>
      <li class="header__nav-item">
        <a href="/philosophy">教育理念</a>
      </li>
      <li class="header__nav-item">
        <a
          href="/resourses/course_info.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="header__nav-link--external"
          >2024年授業要項</a
        >
      </li>
      <li class="header__nav-item">
        <a
          href="/resourses/schedule.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="header__nav-link--external"
          >年間予定表</a
        >
      </li>
      <li class="header__nav-item"><a href="/result/">入試速報</a></li>
      <li class="header__nav-item">
        <a href="/graduates/">OB/OG</a>
      </li>
      <li class="header__nav-item">
        <a href="/gallery/">ぶんせい美術館</a>
      </li>
    </ul>
  </nav>

  <button class="header__hamburger" id="js-hamburger" aria-label="メニュー">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
