<div class="header__inner">
  <h1 class="logo">
    <a href="/">
      <img src="/imgs/logo.gif" alt="ぶんせいロゴ" />
    </a>
  </h1>

  <nav class="header__nav nav" id="js-nav">
    <ul class="nav__items nav-items">
      <li class="nav-items__item"><a href="/">トップ</a></li>
      <li class="nav-items__item">
        <a href="/philosophy">教育理念</a>
      </li>
      <li class="nav-items__item">
        <a
          href="/resourses/course_info.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >2024年授業要項</a
        >
      </li>
      <li class="nav-items__item">
        <a
          href="/resourses/schedule.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >年間予定表</a
        >
      </li>
      <li class="nav-items__item"><a href="">入試速報</a></li>
      <li class="nav-items__item">
        <a href="">大人になったぶんのすけ達</a>
      </li>
      <li class="nav-items__item"><a href="">ぶんせい美術館</a></li>
    </ul>
  </nav>

  <button class="header__hamburger hamburger" id="js-hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
