.container {
  background: repeat center/100% url("/images/sakura-background.webp");
  background-position: 0 -5rem;
}
#result {
  margin-bottom: 5rem;
}

.result-heading {
  background: var(--white);
  display: block;
  max-width: 20rem;
  box-shadow: 0px 0px 0px 5px var(--white);
  border-radius: 4px;
  border: dashed 1px var(--black3);
  margin: 0 auto 3rem auto;
  padding: 0.4em 0.5em;
  color: rgb(233, 111, 132);
}

.school {
  margin-top: 5rem;
}
.school:nth-of-type(1) {
  margin-top: 3rem;
}

.school-title {
  height: auto;
  margin-bottom: 1.3rem;
}
.school-title > .title {
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  margin: 1rem 0 1rem 0;
  font-weight: bold;
}
.school:nth-of-type(odd) .school-title > .title {
  border-left: solid 5px var(--secondary-header1);
}
.school:nth-of-type(even) .school-title > .title {
  border-left: solid 5px var(--secondary-header2);
}

caption {
  padding: 0.6rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  vertical-align: middle;
  background-color: var(--blue2);
}
table {
  margin-bottom: 1rem;
}

.school-table th,
.school-table td {
  color: var(--black);
  background-color: var(--white3);
}
.school-table tr > td:nth-of-type(1),
.school-table tr > th:nth-of-type(1) {
  color: var(--white);
  background-color: var(--black3);
  max-width: 4.5rem;
}
.school-table tr > td:nth-of-type(3),
.school-table tr > th:nth-of-type(3) {
  text-align: center;
  max-width: 2rem;
  vertical-align: middle;
}

.result-links h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.result-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列に設定 */
  gap: 0.6rem; /* 各アイテム間のスペース */
  margin-bottom: 5rem;
}

.result-grid-item {
  background-color: var(--blue);
  border-radius: 0.4rem;
  padding: 0rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.result-now {
  background-color: var(--black3);
  opacity: 0.6;
}

.result-grid-item a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.8rem;
}

.result-grid-item a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: rotate(45deg) translateY(-50%);
  width: 6px;
  height: 6px;
  border-width: 2px 2px 0 0;
  border-style: solid;
}

#attribution-sakura {
  text-align: right;
}
