/* フッタースタイル */
.footer {
  margin-top: 5rem;
  justify-content: end;
  background-color: var(--blue);
  color: var(--white);
  padding: 2rem 1rem;
}

@media screen and (min-width: 960px) {
  .footer {
    padding-top: 4rem;
  }

  .footer__inner {
    max-width: 1280px;
    margin: auto;
  }

  .footer__nav {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 2列 */
    grid-gap: 12rem;
  }
}

/* フッター情報セクション */
.footer__info {
  margin-bottom: 5rem;
}

@media screen and (min-width: 1280px) {
  .footer__info {
    margin-bottom: 0;
  }
}

.footer p,
.footer li {
  line-height: 1.5rem;
  overflow-wrap: break-word;
  word-break: normal;
}

/* ブランディング部分 */
.footer__branding {
  margin-bottom: 2rem;
}

.footer__branding img {
  width: 8rem;
  text-align: left;
  margin-bottom: 0.4rem;
}

.footer__branding p {
  font-size: 0.8rem;
  color: #cecece;
}

/* テキスト部分 */
.footer__text,
.footer__contact {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

/* ナビゲーション部分 */
.footer__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 0.4rem;
  padding: 0 0.4rem;
}

@media screen and (min-width: 960px) {
  .footer__nav {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }
}

/* ナビゲーションセクション */
.footer__nav-heading {
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
  margin-left: 0.2rem;
}

/* ナビゲーションリスト */
.footer__nav-list {
  list-style: none;
}

.footer__nav-item {
  padding: 0.4rem 0;
  display: flex;
  justify-content: start;
}

.footer__nav-item a {
  text-decoration: none;
  color: #bdbcbc;
  font-weight: 500;
  font-size: 1rem;
}

.footer__nav-item a:hover {
  color: var(--white3);
}

/* 外部リンク用スタイル */
.footer__nav-link--external {
  position: relative;
}

.footer__nav-link--external::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.3em;
  background-image: url("/images/page-transition.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}
