.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer {
  justify-content: end;
  background-color: var(--blue);
  color: var(--white);
  /* height: 10rem; */

  padding: 2rem 1rem 2rem 1rem;
}

@media screen and (min-width: 960px) {
  .header {
    height: 12rem;
  }
}

.footer-title {
  margin-bottom: 2rem;
}

.footer-title h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0.4rem;
}

.footer-title p {
  font-size: 0.8rem;
  color: #cecece;
}

.footer-paragraph {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem 0 0.4rem;
}

.footer-links div {
  width: 160px;
}

.footer-links h2 {
  margin: 1.5rem 0 0.6rem 0;
  font-size: 1.1rem;
}

.footer-links li {
  padding: 0.4rem 0 0.4rem 0;
  display: flex;
  justify-content: start;
}

.footer-links li a {
  text-decoration: none;
  color: #cecece;
  font-weight: 500;
  font-size: 1rem;
}
