* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeeeee;
  color: #262626;

  font-family: "Noto Sans JP", sans-serif;
  word-break: break-word;
}

main {
  padding: 2rem 1rem 0 1rem;
  margin: 5rem auto 0 auto;
  width: 100%;
}

@media screen and (min-width: 960px) {
  main {
    max-width: 960px;
    padding: 0 3rem 0 3rem;
    margin: 6rem auto 0 auto;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 1/1;
}

.top-section {
  margin-bottom: 6rem;
}

article {
  margin-bottom: 2rem;
}

.paragraph {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

article h2 {
  font-size: 1.5rem;

  display: inline-block;
  padding: 0.6rem 1.5rem 0.6rem 0.6rem;
  margin: 1rem 0 0.5rem 0;
}
article:nth-of-type(odd) > h2 {
  border-left: solid 5px #35d232;
}
article:nth-of-type(even) > h2 {
  border-left: solid 5px #e062b3;
}

h3 {
  display: block;
  color: #e24950;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}

p,
li,
table {
  line-height: 1.5rem;
  overflow-wrap: break-word;
  word-break: normal;
}

ul,
ol {
  list-style-type: none;
}
ul.list-star > li:first-child,
ul.list-check > li:first-child,
ol.list-circle > li:first-child {
  margin-top: 0.5rem;
}
ul > li {
  position: relative;
  padding: 0rem 0.3rem 0.3rem 1.3rem;
}
ol > li {
  position: relative;
  padding: 0rem 0.3rem 0.3rem 1.6rem;
}
ul.list-star > li {
  margin-bottom: 1.3rem;
}
ul.list-star > li > h3 {
  font-size: 1.1rem;
  color: #262626;
  /* font-weight: 400; */
  margin-bottom: 0.2rem;
}
ul.list-check > li::before {
  position: absolute;
  content: "";
  display: block;
  top: 0.5em;
  left: 0;
  width: 6px;
  height: 6px;
  border-right: 3px solid #3dc1bd;
  border-bottom: 3px solid #3dc1bd;
  transform: rotate(-45deg);
}
ul.list-star > li::before {
  position: absolute;
  content: "★";
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  color: #e0be25;
}
ol.list-circle > li::before {
  content: counters(list-item, ".") " ";
  background-color: #1baf6c;
  color: #eeeeee;
  font-weight: 700;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.3rem;
  width: 1.3rem;
  font-size: 85%;
  line-height: 1;
  position: absolute;
  top: 0.1rem;
  left: 0;
}

a {
  color: #2987b3;
  text-decoration: underline;
  font-weight: 700;
  padding: 0 0.1rem;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

b {
  font-weight: 700;
  padding: 0 0.1rem;
}
/* .primary {
  display: block;
  color: #e24950;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
} */

table {
  box-sizing: border-box;
  margin: 1rem 0 0.1rem 0;
  width: 100%;
}
table th,
table td {
  border: 3px solid #eeeeee;
  background-color: #d2dcea;
  padding: 0.4rem 0.6rem;
}
table th {
  background-color: #3d6dbe;
  color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  min-width: 4rem;
}
