:root {
  --white: #eeeeee;
  --white2: #ccc;
  --white3: #dcdcdc;
  --black: #262626;
  --black2: #404040;
  --black3: #636363;
  --blue: #192a86;
  --blue2: #3d6dbe;
  --blue3: #d2dcea;
  --secondary-header1: #35d232;
  --secondary-header1-2: #2db62b;
  --secondary-header2: #e062b3;
  --secondary-header2-2: #ca55a1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);

  font-family: "Noto Sans JP", sans-serif;
  word-break: break-word;
}

main {
  padding: 2rem 1rem 0 1rem;
  margin: 5rem auto 0 auto;
  width: 100%;
}

@media screen and (min-width: 960px) {
  main {
    max-width: 960px;
    padding: 0 3rem 0 3rem;
    margin: 6rem auto 0 auto;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 1/1;
}

.top-section {
  margin-bottom: 6rem;
}

article {
  margin-bottom: 2rem;
}

.paragraph {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

section h2,
article h2 {
  font-size: 1.5rem;

  display: inline-block;
  padding: 0.6rem 1.5rem 0.6rem 0.6rem;
  margin: 1rem 0 1rem 0;
}
section:nth-of-type(odd) > h2,
article:nth-of-type(odd) > h2 {
  border-left: solid 5px var(--secondary-header1);
}
section:nth-of-type(even) > h2 article:nth-of-type(even) > h2 {
  border-left: solid 5px var(--secondary-header2);
}

h3 {
  display: block;
  color: #e24950;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}

p {
  margin-bottom: 0.5rem;
}

p,
li,
table {
  line-height: 1.5rem;
  overflow-wrap: break-word;
  word-break: normal;
}

ul,
ol {
  list-style-type: none;
}
ul.list-star > li:first-child,
ul.list-check > li:first-child,
ol.list-circle > li:first-child {
  margin-top: 0.5rem;
}
ul > li {
  position: relative;
  padding: 0rem 0.3rem 0.3rem 1.3rem;
}
ol > li {
  position: relative;
  padding: 0rem 0.3rem 0.3rem 1.6rem;
}
ul.list-star > li {
  margin-bottom: 1.3rem;
}
ul > li > h3,
ol > li > h3 {
  font-size: 1.1rem;
  color: var(--black);
  /* font-weight: 400; */
  margin-bottom: 0.2rem;
}
ul.list-check > li::before {
  position: absolute;
  content: "";
  display: block;
  top: 0.5em;
  left: 0;
  width: 6px;
  height: 6px;
  border-right: 3px solid var(--blue2);
  border-bottom: 3px solid var(--blue2);
  transform: rotate(-45deg);
}
ul.list-star > li::before {
  position: absolute;
  content: "★";
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  color: #e0be25;
}
ol.list-circle > li::before {
  content: counters(list-item, ".") " ";
  background-color: #1baf6c;
  color: var(--white);
  font-weight: 700;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.3rem;
  width: 1.3rem;
  font-size: 85%;
  line-height: 1;
  position: absolute;
  top: 0.1rem;
  left: 0;
}

a {
  color: #2987b3;
  text-decoration: underline;
  font-weight: 700;
  padding: 0 0.1rem;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

b {
  font-weight: 700;
  padding: 0 0.1rem;
}
/* .primary {
  display: block;
  color: #e24950;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
} */

table {
  table-layout: fixed;
  box-sizing: border-box;
  margin: 0 0 0.1rem 0;
  width: 100%;
}

caption,
table th,
table td {
  border: 3px solid var(--white);
  background-color: var(--blue3);
  padding: 0.4rem 0.6rem;
}
caption,
table th {
  background-color: var(--blue2);
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 700;
}

caption {
  border-bottom: none;
}

table th {
  width: 5rem;
}
